name: Docker-CI-Wildan

on:
  push:
    branches: [ master ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Ambil Code
        uses: actions/checkout@v4

      - name: Login ke Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build dan Push ke Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: wildanwf/app-wildan:latest
